<div class="container" style="margin-top: 50px;">


    {{!-- fila 1 --}}
    <div class="row mb-2">
        <h2>Bienvenido/a <span style="color: blueviolet; font-weight: bolder; text-transform: uppercase;">{{persona}}
            </span> <i class="fa-solid fa-face-smile"></i></h3>
            <p class="text-success fw-semibold my-2">Este es el panel de ADMINISTRADOR <i class="fa-solid fa-gear"></i>.
                <br>
                Aca se puede agregar, modificar y eliminar todo tipo de cervezas que se vea en la pagina principal de <b>BENMAN</b>.
            </p>
            <hr>
    </div>


    {{!-- fila 2 --}}
    <div class="row my-2">
        <div class="col-7">
            <h3>Listado de cervezas</h3>
        </div>
        <div class="col-5 text-end;">
            <a class="btn btn-success mb-3" href="/admin/cervezas/agregar"><i class="fa fa-plus" aria-hidden="true"></i>
                Nuevo</a>
        </div>
    </div>
    {{!-- fin fila 2 --}}

    {{!-- fila 3 --}}
    <div class="row col">
        <table class="table ">
            <thead>
                <tr class="table-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th>ABV</th>
                    <th>IBU</th>
                    <th>Descripcion</th>
                    <th>Proceso</th>
                    <th>Imagen</th>
                    <th>Editar</th>
                </tr>
            </thead>

            <tbody>
                {{#each cervezas}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{nombre}}</td>
                    <td>{{ABV}}</td>
                    <td>{{IBU}}</td>
                    <td>{{descripcion}}</td>
                    <td>{{proceso}}</td>
                    <td>{{{imagen}}}</td>
                    <td class="text-end">
                        <a class="btn btn-secondary mb-1" style="color:rgb(179, 98, 255); background-color:black;"
                            href="/admin/cervezas/modificar/{{id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a class="btn btn-secondary" style="color:red; background-color:black;"
                            href="/admin/cervezas/eliminar/{{id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

    <hr>
    {{!-- button deslogeo --}}
    <p><a class="btn btn-danger mb-5" href='/admin/login/logout'>Cerrar sesion <i class="fas fa-sign-out-alt"></i></a>
    </p>



</div>